*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
	background: transparent;
	vertical-align: baseline;
	box-sizing: border-box;
}
p{
  color: blue;
}
body{
  width: 80%;
  margin: auto;
}
h1{
  text-align: center;
  margin-top: 1em;
}
main{
  position: absolute;
  width: 80%;
  height: 600px;
  background-image: url(img/fondo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}
#bola{
  height: 228px;
  background-image: url(img/bola.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 73%;
  top: 254px;
  position: relative;
  width: 34%;
  margin: auto;
}

#bola:hover {
  cursor: pointer;
  background-size: 106%;
}

.gato1{
  background-image: url(img/gat1.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 42px;
}
.gato2{
  background-image: url(img/gat2.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 42px;
}
.gato3{
  background-image: url(img/gat3.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 42px;
}
.gato4{
  background-image: url(img/gat4.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 42px;
>>>>>>> Stashed changes
}